body { font-family: Georgia, 'New York CE', utopia, serif; font-size: 17px; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: Georgia, 'New York CE', utopia, serif; }
blockquote { font-size: 17px; }

.pagination, .badge { font-family: "Open Sans", Calibri, Candara, Arial, sans-serif; }
.navbar-brand { height: auto; padding: 13px 15px 16px 15px; }

article .entry-content .panel .panel-body { padding-left: 0; padding-right: 0; }
article .entry-content .panel .panel-body .post-info .label { display: none; }
article .entry-content p img { margin-top: 10.5px; margin-bottom: 10.5px; }

footer small img { display: none; }
